
.cover{
    margin-left: 40px;
    margin-top: 70px;
    background-image: url(/imgs/coverPhoto.jpg);
    background-size: cover;
    height: 500px;
}
.content{
    width: 500px;
    margin-left: 181px;
}
.cover h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #EA5252;
    padding-bottom: 50px;
}
.paragraf{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: justify;
    color: #585858;
}
.join-as{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    background-color: #EA5252;
    color: #FFFFFF;
    border: #EA5252 1px solid;
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    width: 126px;
    height: 44px;
    margin-top: 20PX;
}
@media (max-width:1050px) {
.cover{
    margin-left: 30px;
    margin-top: 70px;
    background-image: url(/imgs/coverPhoto.jpg);
    background-size: cover;
    height: 500px;
}
.content{
    width: 450px;
    margin-left: 115px;
}
.cover h1{
    font-weight: 500;
    font-size: 38px;
}
.paragraf{
    font-weight: 500;
    font-size: 14px;
}

}

.ourStatus div{
    width: 33%;
    background-color: #EA5252;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (min-width:900px) and (max-width:1050px)  {
    .ourStatus{
        width: 100%;
        gap: 30px;
    } 
    .ourStatus div{
        width: 23%;
        background-color: red !important;
    }
    .ourStatus div img{
        height: 30px;
        width: 30px;
    }
    .ourStatus div h3{
        font-weight: 200;
        font-size: 22px;
        color: aqua;
    }
}
.ourStatus{
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 70%;
    gap: 30px;
    margin: auto;
    margin-top: 70px;
}

.ourStatus div img{
    height: 60px;
    width: 60px;
}
.ourStatus div h3{
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 45px;
}
.header_top_courses{
    width: 70%;
    margin: auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_top_courses h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 49px;
}
.header_top_courses a{
    text-decoration: none;
    color: #EA5252;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    transition: 0.3s;
}
.header_top_courses a:hover{
    transform: scale(1.2);
}

.top_courses{
    display: flex;
    justify-content: space-between;
    width: 70%;
    gap: 30px;
    margin: auto;
    margin-top: 70px;
    
}
.recommandedCourses_headr{
    width: 70%;
    margin: auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.recommandedCourses_headr h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 49px;
}

.recommandedCourses_headr a{
    text-decoration: none;
    color: #EA5252;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    transition: 0.3s;
}
.recommandedCourses_headr a:hover{
    transform: scale(1.2);
}
.recommandedCourses {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 70px;
    
}
.Recommanded_categories_for_you{
    width: 70%;
    margin: auto;
    margin-top: 70px;
}
.headr_Recommanded_categories_for_you h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 49px;
}
.categories{
    margin-top: 30px;
    height: 175px;
}
.categories ul{
    display: flex;
    list-style: none;
    gap: 20px;
    flex-wrap: wrap;
}
.categories ul li{
    margin-top: 12px;
}
.categories ul li a{
    text-decoration: none;
    color: black;
    border: #EA5252 2px solid;
    border-radius: 3px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    padding: 7px;
}
.categories ul li a:hover{
    background-color: #EA5252;
    color: #FFFFFF;
}
.theBestSellingCourses_headr{
    width: 70%;
    margin: auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.theBestSellingCourses_headr h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 49px;
}

.theBestSellingCourses_headr a{
    text-decoration: none;
    color: #EA5252;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    transition: 0.3s;
}
.theBestSellingCourses_headr a:hover{
    transform: scale(1.2);
}
.BestSellingCourses{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    margin-top: 70px;
    gap: 30px;
}
.comment{
    display: flex;
    height: 450px;
    width: 70%;
    margin-left: 15%;
    margin-top: 30px;
    background: center;
    background-image: url(/imgs/4-EeTnaC1S4.png);
    background-size: cover;
    clip-path: polygon(0% 17% , 100% 0 , 100% 100% , 0 100%);
}
.qouts{
    padding-top: 128px;
    margin-left: 20px;
}
.qouts1{
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
    height: 360px;
}
.qouts1 img{
    height: 56px;
    width: 56px;
}
.commentText{
    width: 42%;
    /* padding-left: 60px; */
    padding-top: 160px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: justify;
}
